[Unit]
Description=CRANIX Firewall
After=local-fs.target
After=network.target

[Service]
ExecStartPre=/usr/share/cranix/tools/firewall/setup_firewall.sh
ExecStart=/usr/sbin/crx_firewall.py
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
